{% extends 'layouts/base.html' %}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
            </ol>
          </nav>
        </div>
      </div>
      
      <!-- Card stats -->
      <div class="row" id="products">

        {% for product in products %}
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{product.stock.name}}</h5>
                  <span class="h2 font-weight-bold mb-0">{{product.total_quantity}} {{product.unit}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class=" text-warning fa fa-arrow-up"></i> {{product.get_quantity_sold}}</span>
                <span class="text-nowrap">Sold.</span>
                <span class="text-success mr-2"><i class="fa fa-arrow-down"></i> {{product.qty_remain}}</span>
                <span class="text-nowrap">Remain in Stock</span>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-7">
      <div class="card bg-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="text-light text-uppercase ls-1 mb-0">Date: {{today_date }}</h2>
                <h5 class="h3 text-white mb-0">Overview</h5>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Recent Sales</h3>
            </div>
            <div class="col text-right">
              <a href="{% url 'all_sales' %}" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Buyer name</th>
                <th scope="col">seller name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Payment Type</th>
                <th scope="col">Time Stamp</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody id="sales-table">

              {% for sale in sales %}
              <tr>
                <th scope="row">
                  {{sale.product}}
                </th>
                <th scope="row">
                  {{sale.customer}}
                </th>
                <td>
                  {{sale.seller_name}}
                </td>
                <td>
                  {{sale.qty}}
                </td>
                <td>
                  {{sale.payment_type}}
                </td>
                <td>
                  {{sale.timestamp}}
                </td><td>
                  # {{sale.total_price}}
                </td>
              </tr>
            {% endfor %}

            </tbody>

          </table>
        </div>
      </div>
    </div>
        <!--

    <div class="col-xl-5">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
             <h3 class="mb-0">Product in Stock</h3>
            </div>
            {% comment %} <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a> {% endcomment %}
            {% comment %} </div> {% endcomment %} 
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-left">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Product</th>
                      <th scope="col">Total</th>
                      <th scope="col">Sold</th>
                      <th scope="col">Remains</th>
                  </tr>
              </thead>
              <tbody id="product-table" >

                  {% for product in products %}
                  {% if product.qty_remain < 5 %}
                  <tr style="background-color: red; color:white;">
                      <th scope="row">
                          {{product}}
                      </th>
                      <td>
                          {{product.total_quantity}}
                      </td>
                      <td>
                          {{product.get_quantity_sold}}
                      </td>
                      <td>
                          <div class="d-flex align-items-center">
                              <span class="mr-2">{{product.qty_remain}}</span>
                              <div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  {% else %}
                  <tr>
                      <th scope="row">
                          {{product}}
                      </th>
                      <td>
                          {{product.total_quantity}}
                      </td>
                      <td>
                          {{product.get_quantity_sold}}
                      </td>
                      <td>
                          <div class="d-flex align-items-center">
                              <span class="mr-2">{{product.qty_remain}}</span>
                              <div>

                              </div>
                          </div>
                      </td>
                  </tr>
                  {% endif %}
                      {% endfor %}
              </tbody>
          </table>
          <--end comment -->
      </div>
      </div>
    </div>
    <ul id="data">

    </ul>
  </div>

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
